*, ::after, ::before {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  margin: 0px;
  padding: 0px; }

main {
  display: block; }

body {
  display: block;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0px;
  margin-block-end: 0px; }

h1 {
  font-weight: 900;
  text-transform: uppercase; }

h2 {
  font-weight: 800;
  text-transform: uppercase; }

h3 {
  font-weight: 600;
  text-transform: uppercase; }

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style: none; }

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px; }

a {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none; }

a:visited {
  color: inherit; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent; }

.header-brand {
  padding-left: 10px;
  display: flex; }

.header-brand img {
  height: 100px;
  width: auto; }

.header-brand ul {
  display: flex;
  flex-direction: column;
  align-items: center; }

.brand-slogan a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center; }
  .brand-slogan a .brand-name {
    text-transform: uppercase;
    font-size: 22px;
    color: #a8a8a8;
    letter-spacing: 5px;
    word-spacing: 7px;
    font-weight: bolder; }
  .brand-slogan a .sub-slogan {
    text-transform: uppercase;
    font-size: 14px;
    color: #a8a8a8;
    letter-spacing: 2px;
    word-spacing: 9px;
    margin-top: 5px; }

.menu-wrapper {
  display: flex;
  height: 75px;
  justify-content: flex-end;
  align-items: center;
  background-color: #2eb2ff;
  padding-left: 150px;
  border-radius: 0px 0px 0px 100%; }

.header-menu {
  display: flex;
  align-items: center;
  padding: 20px 20px; }
  .header-menu ul {
    display: inline-flex;
    list-style: none; }
    .header-menu ul li:not(:first-child) {
      margin-left: 20px; }
    .header-menu ul li a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 24px;
      color: #fff; }

section {
  margin-top: 50px; }

.section-wrapper {
  margin-bottom: 30px;
  padding-top: 5px;
  border-bottom: 2px solid #a8a8a8;
  box-shadow: 0px 10px 15px 0px #a8a8a8; }

.section-sub-wrapper {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-right: 20px;
  padding-bottom: 20px; }

.benefits-services {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(40deg, #2eb2ff 35%, #ffbd4a 65%); }

.benefits-block {
  display: flex;
  flex-direction: column; }

.services-block {
  display: flex;
  flex-direction: column;
  max-width: 60%; }

.section-content-wrapper {
  margin-top: 15px; }

.clients-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto !important; }

.single-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .single-slide .slide-img {
    margin-top: 15px;
    align-self: center; }
    .single-slide .slide-img img {
      max-width: 100px;
      height: auto;
      object-fit: contain;
      border: 1px solid; }

.clients-slider .clients-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% !important; }

.two-side-section-wrapper {
  display: flex; }
  .two-side-section-wrapper img {
    max-width: 150px; }

.both-grid-section {
  display: grid;
  grid-template-columns: 25% 25% 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 10px;
  grid-template-areas: "left-item-1 left-item-2 right-item-0 right-item-0 right-item-0" "left-item-1 left-item-2 right-item-1 right-item-3 right-item-6" "left-item-1 left-item-3 right-item-2 right-item-4 right-item-5"; }

.left-item-1 {
  grid-area: left-item-1;
  background-color: #ffbd4a; }

.left-item-2 {
  grid-area: left-item-2;
  background-color: #2eb2ff; }

.left-item-3 {
  grid-area: left-item-3;
  background-color: #99e265; }

.right-item-0 {
  grid-area: right-item-0;
  background-color: #2eb2ff; }

.right-item-1 {
  grid-area: right-item-1;
  background: linear-gradient(150deg, #2eb2ff, #ffbd4a); }

.right-item-2 {
  grid-area: right-item-2;
  background: linear-gradient(50deg, #99e265, #ffbd4a); }

.right-item-3 {
  grid-area: right-item-3;
  background: linear-gradient(15deg, #ffbd4a, #2eb2ff); }

.right-item-4 {
  grid-area: right-item-4;
  background: linear-gradient(150deg, #ffbd4a, #2eb2ff); }

.right-item-5 {
  grid-area: right-item-5;
  background: linear-gradient(60deg, #2eb2ff, #ff5c5c); }

.right-item-6 {
  grid-area: right-item-6;
  background: linear-gradient(150deg, #2eb2ff, #ff5c5c); }

.grid-section-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 20px; }
  .grid-section-item .grid-item-img {
    display: flex;
    justify-content: center; }

.grid-section-help {
  display: grid;
  grid-template-columns: 25% 1fr 2fr 1fr 25%;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "help-section-1 help-section-2 help-section-3 help-section-3 help-section-4" "help-section-1 help-section-5 help-section-5 help-section-6 help-section-4"; }

.help-section-1 {
  grid-area: help-section-1;
  background-color: #2eb2ff; }

.help-section-2 {
  grid-area: help-section-2;
  background-color: #a8a8a8; }

.help-section-3 {
  grid-area: help-section-3;
  background-color: #99e265; }

.help-section-4 {
  grid-area: help-section-4;
  background-color: #ff5c5c; }

.help-section-5 {
  grid-area: help-section-5;
  background-color: #ffbd4a; }

.help-section-6 {
  grid-area: help-section-6;
  background-color: #a8a8a8; }

.footer-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #2eb2ff;
  color: #353535; }
  .footer-nav-menu li {
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 100%;
    padding: 20px 0px; }
  .footer-nav-menu li:not(:first-child):before {
    content: '|';
    position: absolute;
    left: 0;
    margin-top: -2px; }
