<!-- Footer -->
<footer>
    <div class="footer-wrapper">
        <nav>
            <ul class="nav-wrapper footer-nav-menu">
                <li>
                    <a href="#" class="footer-nav-link">Feedback</a>
                </li>
                <li>
                    <a href="#" class="footer-nav-link">Inna treść</a>
                </li>
                <li>
                    <a href="/contacts.html" class="footer-nav-link">Kontakty</a>
                </li>
            </ul>
        </nav>
        <!-- <div class="creater-by">Created with taste by <a class="created-by-autor">mazya</a></div> -->
    </div>
</footer>
<!-- End of footer -->
<!-- End of content -->