<header>
    <div class="header-wrapper">
        <nav>
            <div class="header-nav">
                <div class="header-brand-wrapper">
                    <a class="header-brand" href="/" title="S&R Work Service">
                        <div class="header-logo">
                            <img src="./images/sng-logo.svg" alt="">
                        </div>
                        <div class="brand-slogan">
                            <span class="brand-name">s&r work service</span><span class="sub-slogan">wsparcie zarządzanie kadry</span>
                        </div>
                    </a>
                </div>
                <div class="menu-wrapper">
                    <div class="header-menu">
                        <ul>
                            <li><a href="">O nas</a></li>
                            <li><a href="">Usługi</a></li>
                            <li><a href="./contacts.html">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>