<header>
    <div class="header-wrapper">
        <nav>
            <div class="wrapper header-nav">
                <div class="header-brand-wrapper">
                    <a class="header-brand" href="/" title="S&R Work Service">
                        <div class="header-logo">
                            <img src="./images/sng-logo.svg" alt="">
                        </div>
                        <div class="brand-slogan">
                            <span class="brand-name">s&r work service</span><span class="sub-slogan">wsparcie zarządzanie kadry</span>
                        </div>
                    </a>
                </div>
                <div class="menu-wrapper">
                    <div class="header-menu">
                        <ul class="header-menu-list">
                            <li class="header-menu-list-item"><a class="header-menu-list-item-link" href="">O firmie</a></li>
                            <li class="header-menu-list-item"><a class="header-menu-list-item-link" href="">Wsparcie</a></li>
                            <li class="header-menu-list-item"><a class="header-menu-list-item-link" href="/contacts.html">Kontakt</a></li>
                        </ul>
                        <span class="header-menu-burger">menu</span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>