.footer {
    background-color: $brand-dark;
    border: none;
    box-sizing: border-box;
    flex-shrink: 0;

    .creater-by {
        // padding: 10px 0px;
        margin-bottom: 10px;
        color: $brand-orange;
        font-size: 14px;
        text-align: center;

        .created-by-autor {
            font-size: 16px;
            font-weight: 700;
            // animation: pulse 10s ease-in;

            // &:hover {
            //     & {
            //     animation: spinlogo 10s ease-in;
            //     color: yellow;
            //     }
            // }
        }       
    }
}

.creater-by:hover {
    .created-by-autor {
        color: black;
        animation: spinlogo 1s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    }
}

.footer-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;

    @media screen and (max-width: 500px) {
        flex-direction: column;
    }

    .footer-nav-menu-item {
        display: flex;
        text-align: center;
        vertical-align: middle;
        position: relative;
        padding: 20px 0px;
        width: 100%;

        @media screen and (max-width: 500px) {
            & {
                padding: 10px;
            }
        }

        & .footer-nav-link {
            width: 100%;
        }
    }
}