footer {
    background-color: $brand-dark;
}

.footer-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;

    li {
        display: flex;
        text-align: center;
        vertical-align: middle;
        position: relative;
        padding: 20px 0px;
        width: 100%;

        & .footer-nav-link {
            width: 100%;
        }
    }

    li:not(:first-child):before {
        content: '|';
        position: absolute;
        left: 0;
        color: $brand-blue;
    }

}