/* slides */

.main-slider-wrapper {
    display: flex;
    height: 400px;
    background-color: $brand-gray;
}
.main-slider {
    height: 100%;
    width: 100%;
    user-select: none;
}

.first-main-slide {
    background-color: $brand-pink;
}

.second-main-slide {
    background-color: $brand-blue;
}

.third-main-slide {
    background-color: $brand-green;
}

.fourth-main-slide {
    background-color: $brand-orange;
}

.single-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    height: 100%;

    .slide-title {
        font-size: 2rem;
        margin-top: 2%;
        margin-left: 5%;
        font-weight: 700;
        color: $brand-dark;
    }

    .slide-description {
        font-size: 1rem;
        font-weight: 700;
        margin-top: 2%;
        margin-left: 5%;
    }

    .slide-btn-link {
        justify-self: flex-end;
        align-self: flex-end;
        margin-top: 20px;
        margin-right: 10%;
        padding: 10px 20px;
        max-width: 200px;
        text-align: center;
        border: 3px solid $brand-dark;
        background-color: transparent;
        color: $brand-dark;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        transition: 0.5s;
        
        .btn-link-icon {
            padding-left: 10px;
        }

        &:hover {
            background-color: $brand-dark;
            color: $white;
        }
    }
}
